@import "tailwindcss";

html, body{
    width: 100%;
    height: 100%;
}
.mainBackground .red {
     filter: blur(10px);
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.5);
}
.mainBackground .blue {
     filter: blur(10px);
    box-shadow: 0 0 50px rgba(25, 0, 255, 0.5);
}

#taskList::-webkit-scrollbar {
    display: none;
}

#AllEmployees::-webkit-scrollbar {
    display: none;
}